@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    .scroll-smooth {
      scroll-behavior: smooth;
    }
  }
  
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

 
  .clientData{
    position: relative;
    cursor: pointer;
    
}
.fullData{
  position: absolute;
  top: 20px;
  left: 10px;
  display: none;
  z-index: 100001;
  text-align: left !important;
  /* transition: all ease-in-out 0.5s; */
  
}
.clientData:hover .fullData {
    display: block;
    /* transition: all ease-in-out 0.5s;    */
  }
  
  /* .//////// */


  #tags {
    width: 100%;
    overflow-x: scroll;
    border : 1px solid gray
    ;border-radius: 10px;
  }
  
  #tags .ReactTags__tags {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
  }
  
  #tags .ReactTags__selected {
    display: flex;
  }
  
  #tags .ReactTags__clearAll {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background: #f88d8d;
    color: #fff;
    border: none;
  }
  
  #tags .ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
    background-color: white !important;

  }
  
  #tags .ReactTags__tagInput input.ReactTags__tagInputField, #tags .ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 14px;
    min-width: 150px;
    padding: 0px 10px;
    background-color: white;

  }
  
  #tags .ReactTags__editInput {
    border-radius: 1px;
  }
  
  #tags .ReactTags__editTagInput {
    display: inline-flex;
  }
  
  #tags .ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #63bcfd;
    color: white;
    font-size: 12px;
    display: flex;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
  }
  
  #tags .ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }
  
  #tags .ReactTags__suggestions {
    position: absolute;
  }
  
  #tags .ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px;
  }
  
  #tags .ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
  }
  
  #tags .ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }
  
  #tags .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
  }
  
  #tags .ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    margin-left: 5px;
  }
  
  #tags input {
    background-color: #f9f9f9;
    border: none;
    outline: none;
  }
  
  #tags input:before {
    border: none;
  }